<!DOCTYPE html>
<html>
<head>

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Chop Chop Shop</title>

<meta name="keywords" content="Tienda Online Chop Chop Shop" />
<meta name="description" content="Tienda Online Chop Chop Shop">
<meta name="author" content="gogools">

<!-- Favicon -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="css/theme.css">
<link rel="stylesheet" href="css/theme-elements.css">
<link rel="stylesheet" href="css/theme-blog.css">
<link rel="stylesheet" href="css/theme-shop.css">
<link rel="stylesheet" href="css/theme-animate.css">

<!-- Current Page CSS -->
<link rel="stylesheet" href="vendor/rs-plugin/css/settings.css" media="screen">
<link rel="stylesheet" href="vendor/rs-plugin/css/layers.css" media="screen">
<link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css" media="screen">
<link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css" media="screen">

<!-- Skin CSS -->
<link rel="stylesheet" href="css/skins/default.css">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="css/custom.css">

<!-- Head Libs -->
<script src="vendor/modernizr/modernizr.min.js"></script>

</head>
<body>
	<div class="body">
		<header id="header"
			data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
			<div class="header-body">
				<div class="header-container container">
					<div class="header-row">
						<div class="header-column">
							<div class="header-logo">
								<a href="/"> <img alt="ChopChopShop" width="220" height="108" data-sticky-width="166" data-sticky-height="76" data-sticky-top="38"
									src="img/logo.png">
								</a>
							</div>
						</div>
						<div class="header-column header-column-valign-top">
							<div class="header-row">
								<div class="header-search hidden-xs">
									<!-- SEARCH -->
									<!--form id="searchForm" action="page-search-results.html" method="get">
											<div class="input-group">
												<input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
												<span class="input-group-btn">
													<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
												</span>
											</div>
										</form-->
								</div>
								<nav class="header-nav-top">
									<ul class="nav nav-pills">
										<li>
											<span class="ws-nowrap"><i class="fa fa-phone"></i> (55) 68291053</span>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header-row">
								<div class="header-nav">
									<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
										<i class="fa fa-bars"></i>
									</button>
									<ul class="header-social-icons social-icons hidden-xs">
										<li class="social-icons-facebook">
											<a href="https://www.facebook.com/chopchopshopmx/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
										</li>
									</ul>
									<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
										<nav>
											<ul class="nav nav-pills" id="mainNav">
												<li>
													<a href="/"> Inicio </a>
												</li>
												<li>
													<a href="/about"> ¿Quiénes Somos? </a>
												</li>
												<li class="dropdown">
													<a class="dropdown-toggle" href="#"> Productos </a>
													<ul class="dropdown-menu">
														<li>
															<a href="/products">Catálogo</a>
														</li>
														<!-- 															<li> -->
														<!-- 																<a href="#">Preventas<span class="tip tip-dark">hot</span></em></a>																 -->
														<!-- 															</li>															 -->
													</ul>
												</li>
												<li class="dropdown">
													<a class="dropdown-toggle" href="#"> Eventos </a>
													<ul class="dropdown-menu">
														<li>
															<a href="/index">Muy pronto...</a>
														</li>
													</ul>
												</li>
												<li class="active">
													<a href=""> Contacto </a>
												</li>
												<li>
													<a href="/faq"> FAQ's </a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div role="main" class="main">

			<section class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li>
									<a href="#">Home</a>
								</li>
								<li class="active">Contacto</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h1>Ven a visitarnos</h1>
						</div>
					</div>
				</div>
			</section>

			<!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
			<div id="googlemaps" class="google-map"></div>

			<div class="container">

				<div class="row">
					<div class="col-md-6">

						<h4 class="heading-primary mt-lg">
							<strong>Contáctanos</strong>
						</h4>
						<p>Nuestro amable personal esta listo para responder a sus correos electrónicos o llamadas telefónicas. Si usted tiene una pregunta sobre un
							pedido, no puede encontrar algo en nuestra Web o simplemente necesita consejos sobre qué y cómo comprar.</p>

						<hr>

						<h4 class="heading-primary">
							La <strong>Tienda</strong>
						</h4>
						<ul class="list list-icons list-icons-style-3 mt-xlg">
							<li>
								<i class="fa fa-map-marker"></i> <strong>Dirección:</strong> Tuberías Mz11 Lt10, Colonia Solidaridad Nacional, CDMX
							</li>
							<li>
								<i class="fa fa-phone"></i> <strong>Teléfono:</strong> (55) 68291053
							</li>
							<li>
								<i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:ventas@chopchopshop.com.mx ">ventas@chopchopshop.com.mx </a>
							</li>
						</ul>

						<hr>

						<h4 class="heading-primary">
							Horarios de <strong>atención</strong>
						</h4>
						<ul class="list list-icons list-dark mt-xlg">
							<li>
								<i class="fa fa-clock-o"></i> Lunes - Cerrado
							</li>
							<li>
								<i class="fa fa-clock-o"></i> Martes y Jueves 11:00 hrs a 16:00 hrs
							</li>
							<li>
								<i class="fa fa-clock-o"></i> Miércoles - 11:30 hrs a 20:00 hrs
							</li>
							<li>
								<i class="fa fa-clock-o"></i> Sábado - 11:00 hrs a 22:00 hrs
							</li>
							<li>
								<i class="fa fa-clock-o"></i> Domingo - 13:00 hrs a 16:00 hrs
							</li>
						</ul>

					</div>

				</div>

			</div>

		</div>

		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="footer-ribbon">
						<span>Chop Chop Shop</span>
					</div>
					<div class="col-md-6">
						<div class="contact-details">
							<h4>Contacto</h4>
							<ul class="contact">
								<li>
									<p>
										<i class="fa fa-map-marker"></i> <strong>Dirección:</strong> Tuberías Mz11 Lt10, Colonia Solidaridad Nacional, CDMX
									</p>
								</li>
								<li>
									<p>
										<i class="fa fa-phone"></i> <strong>Teléfono:</strong> (55) 68291053
									</p>
								</li>
								<li>
									<p>
										<i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:ventas@chopchopshop.com.mx ">ventas@chopchopshop.com.mx </a>
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<h4>Síguenos</h4>
						<ul class="social-icons">
							<li class="social-icons-facebook">
								<a href="https://www.facebook.com/chopchopshopmx/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<a href="/" class="logo"> <img alt="Porto Website Template" class="img-responsive" src="img/logo-footer.png">
							</a>
						</div>
						<div class="col-md-7">
							<p>© Copyright 2016. All Rights Reserved. Powered by gogools</p>
						</div>
						<div class="col-md-4">
							<nav id="sub-menu">
								<ul>
									<li>
										<a href="/faq">FAQ's</a>
									</li>
									<!-- 										<li><a href="#">Mapa de sitio</a></li> -->
									<li>
										<a href="/contact">Contacto</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Vendor -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
	<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="vendor/jquery-cookie/jquery-cookie.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/common/common.min.js"></script>
	<script src="vendor/jquery.validation/jquery.validation.min.js"></script>
	<script src="vendor/jquery.stellar/jquery.stellar.min.js"></script>
	<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
	<script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
	<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
	<script src="vendor/isotope/jquery.isotope.min.js"></script>
	<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="vendor/vide/vide.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
	<script src="js/views/view.home.js"></script>

	<!-- Theme Custom -->
	<script src="js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="js/theme.init.js"></script>

	<script src="http://maps.google.com/maps/api/js?key=AIzaSyAdpswOpuLbMeUo7b-4Yn9rKtZ3Bk4fX-0"></script>
	<!-- 		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdpswOpuLbMeUo7b-4Yn9rKtZ3Bk4fX-0&callback=initMap" -->
	<!--   			type="text/javascript"></script> -->
	<script>
		/*
		Map Settings

			Find the Latitude and Longitude of your address:
				- http://universimmedia.pagesperso-orange.fr/geo/loc.htm
				- http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

		 */

		// Map Markers
		var mapMarkers = [ {
			address : "Tuberías MZ11LT10, Solidaridad Nacional, Ciudad de México, 07264 Ciudad de México, D.F.",
			html : "<strong>ChopChop Shop<Strong>",
			icon : {
				image : "img/pin.png",
				iconsize : [ 26, 46 ],
				iconanchor : [ 12, 46 ]
			},
			popup : true
		} ];

		// Map Initial Location
		var initLatitude = 19.531759;
		var initLongitude = -99.154068;

		// Map Extended Settings
		var mapSettings = {
			controls : {
				draggable : (($.browser.mobile) ? false : true),
				panControl : true,
				zoomControl : true,
				mapTypeControl : true,
				scaleControl : true,
				streetViewControl : true,
				overviewMapControl : true
			},
			scrollwheel : false,
			markers : mapMarkers,
			latitude : initLatitude,
			longitude : initLongitude,
			zoom : 16
		};

		var map = $("#googlemaps").gMap(mapSettings);

		// Map Center At
		var mapCenterAt = function(options, e) {
			e.preventDefault();
			$("#googlemaps").gMap("centerAt", options);
		}
	</script>

	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->

</body>
</html>