<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
	<!-- FRAGMENTS SECTION -->
	<div th:fragment="registerDone">
		<hr class="tall">

		<div class="row">
			<div class="col-lg-12">
				<h2>
					¡Tu registro fue <strong>exitoso!</strong>
				</h2>
				<p class="lead">En un momento recibirás un correo de confirmación con los siguientes pasos.</p>
			</div>
		</div>
	</div>
	<!-- FRAGMENTS SECTION -->
	<div th:fragment="registerError">
		<hr class="tall">

		<div class="row">
			<div class="col-lg-12">
				<h2>
					¡Hubo  un <strong>error!</strong>
				</h2>
				<p class="lead">Pot favor intenta registrarte más tarde.</p>
			</div>
		</div>
	</div>
</body>
</body>
</html>